.column {
    margin-bottom: 30px;
}

.btn-add {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.btn-add-mbl {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 2.5rem;
  height: 2.5rem;
  // font-size: 1.3rem;
}

@media screen and (max-width: 450px){
  #todos-wrapper{
      z-index: 5;
  }
  #doings-wrapper{
    z-index: 4;
  }
  
  #dones-wrapper {
    z-index: 3;
  }
}
